body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

.main-content {
  margin: 80px;
}
.main-content .bg-ktm {
  background-color: #ffffff;
  border-radius: 8px;
  height: 325px;
  width: 204px;
}
.main-content .bg-ktm .card-left {
  background-color: #32529F;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 325px;
}
.main-content .bg-ktm .card-left .text-image {
  height: 200px;
  margin-top: 60px;
}
.main-content .bg-ktm .card-right {
  height: 325px;
  margin-left: -10px;
}
.main-content .bg-ktm .card-right .logo {
  width: 90px;
  margin-top: -10px;
}
.main-content .bg-ktm .card-right .foto-mahasiswa {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: #32529F;
  margin-left: 40px;
}
.main-content .bg-ktm .card-right .foto-mahasiswa .foto {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}
.main-content .bg-ktm .card-right .data-mahasiswa .text-nama {
  margin-top: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 600;
}
.main-content .bg-ktm .card-right .data-mahasiswa .nim {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  margin-top: -16px;
}
.main-content .bg-ktm .card-right .data-mahasiswa .prodi {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  margin-top: -16px;
}
.main-content .bg-ktm .card-right .data-mahasiswa .prodi .badge-style {
  background-color: #32529F;
}
.main-content .bg-ktm .card-right .data-mahasiswa .qrcode {
  width: 60px;
  height: 60px;
  margin-top: -10px;
}/*# sourceMappingURL=main.css.map */