// variable warna
$bg-color: #ffffff;
$primary-color : #32529F;

// variable ukuran ktm
$tinggi : 325px;
$lebar : 204px;

// variable font / tulisan
$primary-font : 'Poppins', sans-serif;

body {
  font-family: $primary-font;
  background-color: $bg-color;
}

.main-content {
  margin: 80px;

  .bg-ktm {
    background-color: $bg-color;
    border-radius: 8px;
    height: $tinggi;
    width: $lebar;
  
    .card-left {
      background-color: $primary-color;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      height: $tinggi;

      .text-image {
        height: 200px;
        margin-top: 60px;
      }
    }

    .card-right {
      height: $tinggi;
      margin-left: -10px;
      
      .logo {
        width: 90px;
        margin-top: -10px;
      }

      .foto-mahasiswa {
        width: 90px;
        height: 90px;
        border-radius: 100%;
        background-color: $primary-color;
        margin-left: 40px;

        .foto {
          width: 90px;
          height: 90px;
          border-radius: 100%;
        }
      }

      .data-mahasiswa {
        .text-nama {
          margin-top: 8px;
          font-family: $primary-font;
          font-size: 10px;
          font-weight: 600;
        }

        .nim {
          font-family: $primary-font;
          font-size: 10px;
          margin-top: -16px;
        }

        .prodi {
          font-family: $primary-font;
          font-size: 10px;
          margin-top: -16px;

          .badge-style {
            background-color: $primary-color;
          }
        }

        .qrcode {
          width: 60px;
          height: 60px;
          margin-top: -10px;
        }
      }
    }
  }
}
